/*detail.css*/
/*------详情----start*/
.detail {
	display: flex;
	flex-direction: column;
}

.detail-header {
	padding: 1rem 0;
	border-bottom: 1px solid #ddd ;
	width: 100% ;
	z-index: 9 ;
	position: relative;
	background-color: #fff;
}

.detail-header .input-container {
	width: 100%;
	display: flex;
}

.detail-header input {
	display: inline-block;
	margin: 0 1rem ;
	height: 2.5rem;
	flex: 1;
}

.search-btn {
	margin-left: 0.5rem ;
	padding: 0 ;
	border: none ;
	font-size: 1rem ;
	width: 2.5rem;
	height: 2.5rem ;
	line-height: 2.5rem;
	background-color: #5bc0de ;
	color: #fff ;
	cursor: pointer;
	margin-right: 1rem;
}

.search-btn .fa {
	padding-left: 0 ;
	margin: 0 ;
}

.search-btn:disabled {
	cursor: default;
	background-color: rgba(91,192,222,0.48);
}

.input-container .tips {
	background-color: pink ;
	color: #fff;
	font-size: 12px ;
	padding: 5px 3px ;
}

.tipView {
	list-style: none;
	padding-left: 1rem ;
}

.tipView li {
	display: inline-block;
}

.tipView li span {
	color: #fff ;
	font-size: 0.8rem ;
	display: inline-block;
	padding: 5px ;
	margin-right: 0.8rem ;
}

.detailView {
	position: absolute ;
	/*top: 5rem ;*/
	top: 0;
	bottom: 0 ;
	left: 0 ;
	right: 0 ;
}

.detailList {
	width: 100% ;
	height: 100% ;
	overflow-y: auto ;
}

.detaillist-empty {
	width: 100% ;
	height: 160px ;
	color: #999 ;
	font-size: 1rem ;
	display: flex;
	align-items: center;
	justify-content: center;
}

.detail-footer {
	height: 3rem ;
	border-top: 1px solid #ccc ;
	background-color: #ddd ;
	position: absolute ;
	bottom: 0 ;
	left: 0 ;
	right: 0 ;
	z-index: 9 ;
}

.detail-footer .filterInput {
	width: 85% ;
	height: 2rem ;
	border: 1px solid #ccc;
	margin-top: 0.5rem;
}

.detailItem {
	padding: 0.8rem ;
	border-bottom: 1px solid #ddd ;
}

.detailItem-header {
	font-size: 1.2rem ;
}

.detailItem-number {
	font-weight: bolder ;
}

.detailItem-content {
	font-size: 1rem ;
	margin-top: 0.6rem;
	margin-bottom: 0.6rem ;
}

.detailItem-footer {
	color: #fff ;
	font-size: 1rem ;
	list-style: none ;
}

/*.detailItem-footer .epCom {
	background-color: rgb(179,179,179);
}*/

.detailItem-footer li {
	display: inline-block ;
	margin-right: 8px ;
	/*padding: 3px ;*/
}

/*.detailItem-footer .fa {
	margin: 0 ;
	margin-right: 3px ;
}
.detailItem-footer span {
	cursor: pointer ;
	line-height: 1.5rem ;
	padding: 3px 0;
}*/
/*-----详情----end*/
