body {
  width: 420px ;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0 ;
	padding: 0
}

input:focus {
	outline: none;
}

.fa {
	margin: 0 5px ;
}

.hidden {
	display: none ;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: ' ' ;
	clear: both ;
	height: 0 ;
	visibility: hidden;
	display: block;
}

.warning {
	color: rgb(237,159,53) ;
}

.danger {
	color: rgb(208,61,61);
}

.info {
	color: rgb(75,180,216) ;
}

.success {
	color: rgb(74,175,70);
}

.header {
	padding-top: 10px ;
	padding-left: 10px ;
	padding-bottom: 5px ;
	border-bottom: 1px solid #ddd ;
}

.btn ,
.btn:visited {
	margin-right: 5px ;
	width: 30px ;
	height: 30px ;
	display: inline-block ;
	font-size: 12px ;
	text-decoration: none ;
	background-color: pink ;
	text-align: center;
	line-height: 30px ;
	color: #fff ;
}

.header .input-container,
.header .button-container {
	display: inline-block;
}

.header .input-container {
	margin-left: 15px;
}

.header .input-container input {
	width: 270px ;
	height: 30px ;
}

.header .input-container .tips {
	background-color: pink ;
	color: #fff;
	font-size: 12px ;
	padding: 5px 3px ;
}

.search-btn {
	margin-left: 5px ;	
	background-color: pink ;
	border: none ;
	/*outline: none;*/
	width: 30px ;
	height: 30px ;
	background-color: #5bc0de ;
	color: #fff ;
	cursor: pointer;
}

.search-btn:disabled {
	cursor: default; 
	background-color: rgba(91,192,222,0.48);
}

.setting {
	margin: 20px ;
}

.setting div {
	margin-bottom: 10px ;
}

.setting p {
	font-size: 12px ;
	color: #999 ;
	text-indent: 1em ;
	margin-top: 5px ;

}

.setting span {
	font-size: 14px ;
	font-weight: bold ;
}

.copyright {
	text-align: center ;
	color: #999 ;
	font-size: 12px ;
	margin-top: 30px ;
}

.detail {
	
}

.detailList {
	height: 550px ;
}

.detaillist-empty {
	width: 100% ;
	height: 160px ;
	color: #999 ;
	font-size: 16px ;
	display: flex;
	align-items: center;
	justify-content: center;
}

.detail-footer {
	height: 39px ;
	border-top: 1px solid #ccc ;
	background-color: #ddd ;
}

.detail-footer input {
	width: 300px ;
	height: 20px ;
	border: 1px solid #ccc;
	margin-top: 8px; 
}

.detailItem {
	padding: 10px ;
	border-bottom: 1px solid #ddd ;
}

.detailItem-number {
	font-weight: bolder ; 
}

.detailItem-content {
	font-size: 12px ;
	margin-top: 8px;
	margin-bottom: 8px ;
}

.detailItem-footer {
	height: 20px ;
	line-height: 20px ;
	padding-left: 15px ;
	padding-right: 5px ;
	background: url('../imgs/tag.png') no-repeat left;
	background-color: rgb(179,179,179);
	display: inline-block;
	color: #fff ;
	font-size: 12px ;
}

.info-header {
	padding: 10px 5px 3px 5px ;
}

.info-headr p{
	font-size: 12px ;
	margin-top: 3px ;
}

.info-headr .ep-number {
	font-weight: bold;
}

.infoList-header {
	background-color: #000 ;
	color: #fff ;
	font-size: 14px ;
}	

.infoList-header div{
	display: inline-block;
	height: 30px ;
	line-height: 30px ;
}

.info-update {
	margin-left: 10px ;
	display: inline-block;
	width: 120px ;
}

.info-content {
	display: inline-block;
	width: 200px ;
}

.info-table table {
	font-size: 14px ;
	border-collapse: collapse ;
}

.info-table td {
	padding: 5px ;
}

.tr-even {
	background-color: #f9f9f9 ;
	border-top: 1px solid #e0e0e0 ;
	border-bottom: 1px solid #e0e0e0 ;
	padding: 5px 10px ;
}

.tr-odd {
	
}

.tipView {
	list-style: none;
	padding: 0 0 0 90px ;
	margin: 0 0 5px 0 ;
}

.tipView li {
	display: inline-block;
}

.tipView li span {
	color: #fff ;
	font-size: 12px ;
	display: inline-block;
	padding: 5px ;
	margin-right: 10px ;
}

.loadView {
	width: 100% ;
	height: 160px ;
	color: #999 ;
	font-size: 16px ;
	display: flex;
	align-items: center;
	justify-content: center;
}



