/*通用*/
body {
  /*width: 420px;*/
  margin: 0 auto;
  height: 100%;
}

h1,h2,h3,h4,h5,h6,p,ul,div {
	margin: 0;
	padding: 0
}

ul {
  list-style: none;
}

input {
	border: 1px solid #c0c0c0;
	outline: none;
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	font-size: 1rem;
}

button {
  outline: none;
}

input:focus {
	outline: none;
}

.fa {
	margin: 0 5px;
}

.hidden {
	display: none;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: ' ';
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}

.warning {
	color: rgb(237,159,53);
}

.danger {
	color: rgb(208,61,61);
}

.info {
	color: #5bc0de;
}

.success {
	color: #5cb85c;
}

.primary {
	color: #337ab7;
}

.primary-bg {
	background-color: #337ab7;
}

.info-bg {
	background-color: rgb(75,180,216);
}

.tag {
	display: inline-block;
	margin-right: 8px;
	color: #fff;
	font-size: 1rem;
	padding: 6px 4px 4px 1px;
	cursor: pointer;
}

.iconBtn {
	font-size: 1.2rem;
}

#app {
  width: 100%;
  height: 100%;
}
.navbar {
  height: 44px;
  background-color: #000;
  display: flex;
  font-size: 1.2rem;
  color: #fff;
  z-index: 99;
  position: relative;
}

.navbar .navbar-item {
  width: 60px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .title-view {
  flex: 1;
  text-align: center;
  line-height: 44px;
}

#container {
  position: absolute;
  bottom: 49px;
  left: 0;
  right: 0;
  top: 44px;
}

.tabbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 49px;
  display: flex;
  flex-direction: row;
  background-color: #000;
}

.tabbar .tabbar-item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.link {
  color: #fff;
}

.activeStyle {
  color: #e6750d;
}

/*-----适配相关----*/
@media only screen and (min-width: 280px) and (max-width: 420px) {
	body {
		max-width: 100%;
		overflow-x: hidden;
	}

	html {
		height: 100%;
		overflow-x: hidden;
	}
}

@media only screen and (min-width: 280px) and (max-width: 320px) {
	html {
		-webkit-text-size-adjust: none;
		font-size: 62.5%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
	html {
		font-size: 75%;
	}
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
	html {
		font-size: 87.5%;
	}
}

@media only screen and (min-width: 414px) and (max-width: 420px) {
	html {
		font-size: 100%;
	}
}
