/*通用*/
body {
  /*width: 420px ;*/
  margin: 0 auto;
  height: 100% ;
}

h1,h2,h3,h4,h5,h6,p,ul,div {
	margin: 0 ;
	padding: 0
}

input {
	border: 1px solid #c0c0c0 ;
	outline: none ;
	padding: 0 ;
	box-sizing: border-box ;
	margin: 0 ;
	font-size: 1rem ;
}

input:focus {
	outline: none;
}

.fa {
	margin: 0 5px ;
}

.hidden {
	display: none ;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: ' ' ;
	clear: both ;
	height: 0 ;
	visibility: hidden;
	display: block;
}

.warning {
	color: rgb(237,159,53) ;
}

.danger {
	color: rgb(208,61,61);
}

.info {
	color: rgb(75,180,216) ;
}

.success {
	color: rgb(74,175,70);
}

.primary {
	color: #337ab7;
}

.primary-bg {
	background-color: #337ab7;
}

.info-bg {
	background-color: rgb(75,180,216) ;
}

/*---头部----start*/
.header {
	padding: 1rem 0 1rem 1rem ;
	border-bottom: 1px solid #ddd ;
	width: 100% ;
	z-index: 9 ;
	position: relative;
}

.btn ,
.btn:visited {
	margin-right: 0.5rem ;
	font-size: 1rem ;
	width: 2.5rem;
	height: 2.5rem ;
	line-height: 2.5rem;
	display: inline-block ;
	text-decoration: none ;
	text-align: center;
	color: #fff ;
}

.header .input-container,
.header .button-container {
	display: inline-block;
}

.header .input-container {
	position: absolute;
	top: 1rem ;
	left: 7rem ;
	right: 5rem ;
	bottom: 0 ;
	padding: 0;
}

.header .input-container input {
	height: 2.5rem;
	width: 100% ;
}

.header .input-container .tips {
	background-color: pink ;
	color: #fff;
	font-size: 12px ;
	padding: 5px 3px ;
}

.search-btn {
	margin-left: 0.5rem ;	
	border: none ;
	font-size: 1rem ;
	width: 2.5rem;
	height: 2.5rem ;
	line-height: 2.5rem;
	background-color: #5bc0de ;
	color: #fff ;
	cursor: pointer;
	position: absolute;
	right: 2rem ;
}

.search-btn:disabled {
	cursor: default; 
	background-color: rgba(91,192,222,0.48);
}

.tipView {
	list-style: none;
	padding-left: 25% ;
	margin-bottom: 5px ;
}

.tipView li {
	display: inline-block;
}

.tipView li span {
	color: #fff ;
	font-size: 0.8rem ;
	display: inline-block;
	padding: 5px ;
	margin-right: 0.8rem ;
}

/*---头部----end*/

/*----设置-----start*/
.setting {
	margin: 1.5rem 0;
	text-align: center;
}

.setting h1 {
	font-size: 2rem ;
}

.setting div {
	margin-bottom: 1rem ;
}

.setting p {
	font-size: 0.8rem ;
	color: #999 ;
	text-indent: 1em ;
	margin-top: 0.5rem ;

}

.setting span {
	font-size: 1rem ;
	font-weight: bold ;
}

.copyright {
	text-align: center ;
	color: #999 ;
	font-size: 0.8rem ;
	margin-top: 2rem ;
}
/*----设置-----end*/

/*------详情----start*/
.detail {
	
}

.detailList {
	position: absolute ;
	top: 5rem;
	bottom: 3em ;
	left: 0 ;
	right: 0 ;
	overflow-y: auto ;
}

.detaillist-empty {
	width: 100% ;
	height: 160px ;
	color: #999 ;
	font-size: 1rem ;
	display: flex;
	align-items: center;
	justify-content: center;
}

.detail-footer {
	height: 3rem ;
	border-top: 1px solid #ccc ;
	background-color: #ddd ;
	position: absolute ;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9 ;
}

.detail-footer input {
	width: 85% ;
	height: 2rem ;
	border: 1px solid #ccc;
	margin-top: 0.5rem; 
}

.detailItem {
	padding: 0.8rem ;
	border-bottom: 1px solid #ddd ;
}

.detailItem-header {
	font-size: 1.2rem ;
}

.detailItem-number {
	font-weight: bolder ; 
}

.detailItem-content {
	font-size: 1rem ;
	margin-top: 0.6rem;
	margin-bottom: 0.6rem ;
}

.detailItem-footer {
	color: #fff ;
	font-size: 1rem ;
	list-style: none ;
}

.detailItem-footer .epCom {
	background-color: rgb(179,179,179);
}

.detailItem-footer li {
	display: inline-block ;
	margin-right: 8px ;
	padding: 3px ;
}

.detailItem-footer .fa {
	margin: 0 ;
	margin-right: 3px ;
}

.detailItem-footer span {
	cursor: pointer ;
	line-height: 1.5rem ;
	padding: 3px 0;
}

.info-header {
	font-size: 1rem ;
	padding: 1rem ;
}

.info-header p{
	margin-top: 3px ;
	z-index: 9;
}

.info-header .ep-number {
	font-weight: bold;
	font-size: 1.2rem ;
}

.infoList {

}

.infoList-header {
	background-color: #000 ;
	color: #fff ;
	font-size: 1rem ;
	z-index: 9;
}	

.infoList-header div{
	display: inline-block;
	height: 2rem ;
	line-height: 2rem ;
}

.info-update {
	margin-left: 0.5rem ;
	display: inline-block;
	width: 120px ;
}

.info-content {
	display: inline-block;
	padding-left: 4rem ;
}

.info-table {
	font-size: 1rem ;
	overflow-y: auto ;
	position: absolute;
	top: 13.5rem ;
	left: 0 ;
	right: 0 ;
	bottom: 3rem ;
}

.info-table table {
	border-collapse: collapse ;
	width: 100% ;
}

.info-table td {
	padding: 0.5rem 1rem ;
}

.tr-even {
	background-color: #f9f9f9 ;
	border-top: 1px solid #e0e0e0 ;
	border-bottom: 1px solid #e0e0e0 ;
	padding: 5px 10px ;
}

.tr-odd {
	
}

.loadView {
	width: 100% ;
	height: 160px ;
	color: #999 ;
	font-size: 1rem ;
	display: flex;
	align-items: center;
	justify-content: center;
}

.info-footer {
	padding: 0.5rem ;
	background-color: #f0f0f0 ;
	border-top: 1px solid #c0c0c0 ;
	position: absolute;
	bottom: 0 ;
	left: 0 ;
	right:  0;
	z-index: 9 ;
}

.info-footer input {
	height: 2rem ;
	margin-right: 5px ;
	width: 70% ;
}

.info-footer button {
	position: relative ;
	top: -2px;
	line-height: 2rem ;
	padding: 0 8px ;
	outline: none ;
	border: none ;
	background-color: #337ab7 ; 
	cursor: pointer;
	text-align: center ;
	color: #fff ;
}

.info-taglist {
	list-style: none;
	margin-top: 6px;
}

.info-tag {
	display: inline-block;
	margin-right: 8px ;
	color: #fff ;
	font-size: 1rem ;
	background-color: #5bc0de ;
	padding: 6px 4px 4px 1px ;
}

@media only screen and (min-width: 280px) and (max-width: 420px) {
	body {
		max-width: 100% ;
	}

	html {
		overflow-x: hidden;	
		height: 100% ;

	}
}

/*宽度小于320 ---- iphone4 5 5s*/
@media only screen and (min-width: 280px) and (max-width: 320px) {
	html {
		-webkit-text-size-adjust: none;
		font-size: 62.5% ;
	}
}

/*宽度 320 － 375  ------ inphone 6 6s 7*/
@media only screen and (min-width: 320px) and (max-width: 375px) {
	html {
		font-size: 75% ;
	}
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
	html {
		font-size: 87.5% ;
	}
}

@media only screen and (min-width: 414px) and (max-width: 420px) {
	html {
		font-size: 100% ;
	}
}

