/*mainHeader.css*/
/*---头部----start*/
.header {
	padding: 1rem 0 1rem 1rem ;
	border-bottom: 1px solid #ddd ;
	width: 100% ;
	z-index: 9 ;
	position: relative;
	background-color: #fff;
}

.btn ,
.btn:visited {
	margin-right: 0.5rem ;
	font-size: 1rem ;
	width: 2.5rem;
	height: 2.5rem ;
	line-height: 2.5rem;
	display: inline-block ;
	text-decoration: none ;
	text-align: center;
	color: #fff ;
}

.header .input-container,
.header .button-container {
	display: inline-block;
}

.header .input-container {
	position: absolute;
	top: 1rem ;
	left: 7rem ;
	right: 5rem ;
	padding: 0;
}

.header .input-container input {
	height: 2.5rem;
	width: 100% ;
}

.header .input-container .tips {
	background-color: pink ;
	color: #fff;
	font-size: 12px ;
	padding: 5px 3px ;
}

.search-btn {
	margin-left: 0.5rem ;	
	padding: 0 ;
	border: none ;
	font-size: 1rem ;
	width: 2.5rem;
	height: 2.5rem ;
	line-height: 2.5rem;
	background-color: #5bc0de ;
	color: #fff ;
	cursor: pointer;
	position: absolute;
	right: 2rem ;
}

.search-btn .fa {
	padding-left: 0 ;
	margin: 0 ;
}

.search-btn:disabled {
	cursor: default; 
	background-color: rgba(91,192,222,0.48);
}

.tipView {
	list-style: none;
	padding-left: 25% ;
	margin-bottom: 5px ;
}

.tipView li {
	display: inline-block;
}

.tipView li span {
	color: #fff ;
	font-size: 0.8rem ;
	display: inline-block;
	padding: 5px ;
	margin-right: 0.8rem ;
}

/*---头部----end*/